<div style="
    width: 100%; 
    text-align: center; 
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(37, 38, 94);
    padding: 5px 10mm;
">
    <div style="display: flex; align-items: center; gap: 5px;">
        <p style="font-weight: 600;">
            <span>easy</span><span style="color: #ff0100;">CSIT</span>
        </p>
    </div>
    <p>
        <span class="pageNumber"></span> of
        <span class="totalPages"></span>
    </p>
</div>